html[data-theme='publications']:root {
	--color-primary-50: 250 250 250;
	--color-primary-100: 244 244 245;
	--color-primary-200: 228 228 231;
	--color-primary-300: 212 212 216;
	--color-primary-400: 0 167 177;
	--color-primary-500: 0 134 142;
	--color-primary-900: 0 88 93;
	--color-primary-950: 0 73 77;
	--color-secondary-400: 189 189 189;
	--color-secondary-500: 107 114 128;
}
